@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'PT Sans', sans-serif;
    background: #ffffff;
}

fieldset {
    margin: 15px auto;
}

.form-check-box {
    float: left;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.form-check-box:hover {
    background: #f6bcbc;
}

.checkit {
    height: 30px;
    width: 30px;
    border: 1px solid gray;
}

.user-pref {
    margin: 1% 3%;
    width: 89%;
    min-height: 200px;
    padding: 2%;
    clear: both;
}

.user-body {
    color: #4e4c4c;
    font-size: 20px;
}

.error-element {
    font-size: 20px;
    color: red;
    font-weight: bold;
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 200px;
    padding: 20px;
}


.border-shadding {
    border: 1px solid #EEE;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .1);
}

.source-list,
.news-list {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.source-list-item {
    width: 100%;
    margin: 10px;
    padding: 10px 15px;
}

.source-list-item-header,
.user-heading,
.user-heading a,
.source-list-item-header a {
    color: #F42;
    text-decoration: none;
}

.source-list-item-category a,
.source-list-item-category a:visited {
    color: rgb(77, 92, 136);
    text-decoration: none;
}

ul.left-nav-list {
    padding-top: 0px;
}

li.left-nav-title {
    width: 100%;
}

li.left-nav-title a {
    display: block;
    padding: 10px 0 0 0;
    text-decoration: none;
    color: #595959;
}

li.left-nav-title a.active {
    text-decoration: none;
    color: #ff5252;
}

li.left-nav-title a:hover:not(.active) {
    text-decoration: none;
    color: #ff5252;
}

.fa-newspaper-o {
    font-size: 25px;
    margin-left: 20px;
}

.footer-container {
    margin-right: 20px;
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

ul.footer-container li {
    padding: 10px 20px;
    display: inline;
}

.footer-container li a {
    list-style: none;
    list-style-type: none;
}

.article-content-list-item {
    margin: 10px 10px 10px 5px;
    border: 1px solid #EEE;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .1);
}

.article-img-thumbnail {
    float: left;
    margin-right: 10px;
}

.article-headline #title a,
.landing-header {
    margin-right: 10px;
    font-size: 25px;
    font-style: bold;
    text-decoration: none;
    color: #F42;
}

.article-content-list-item .article-body-description {
    font-size: 18px;
    color: #595959;
}

#article_url a {
    text-decoration: none;
    color: #00b8e6;
}

.news-details .article-body-description {
    padding-top: 15px;
    clear: left;
    font-size: 18px;
    color: #595959;
}

.comments-list {
    border: 1px solid #cccccc;
    width: 97%;
    padding: 10px;
    border-radius: 5px;
    color: #595959;
    border-left: 3px solid #F42;
}

.content-sep-space {
    height: 10px;
    width: 100%;
    margin: 20px 0px;
    background: #f2f2f2;
}

.commentReply {
    border: 1px solid #99bbff;
    border-left: 3px solid #F42;
    border-radius: 4px;
    padding: 5px;
    float: right;
    color: #66a3ff;
}

.commentReply:hover {
    background: #33adff;
    color: white;
}

.page-width-section {
    width: 100%;
}

.content-section{
    margin: 8px 0px 8px 8px;
    width: 95%;
    border: 1px solid #EEE;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .1);
    padding: 2%;
}


.content-section h3 {
    color: #F42;
}

.form-input {
    max-width: 300px;
}

.form-input label {
    font-weight: bold;
}

.form-input input {
    float: right;
}

.validation-error {
    color: red;
}

.article-img-thumbnail > img {
	max-width: 100%;
	height: auto;
    margin: 10px;
    overflow:hidden;
}
.pageContainer{
    max-width: 900px;
    min-height: 100%;
    margin:3% auto;
}
.navContainer{
    max-width: 95%;
    height: auto;
    margin: 3%;
    padding: 25px 15px;
}
.navContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navContainer li {
    float: left;
}

.navContainer li a, .navContainer a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navContainer li a:hover, .navContainer a {
    cursor: pointer;
    color: #F42;
    text-decoration: none;
}

ul.pullToRight{
    float: right;
}
.contentContainer{
    max-width: 95%;
    height: 800px;
    margin: 3%;
}
.leftSide{
    width: 17%;
    min-height: 150px;
    margin: 1% .5%;
    float: left;
}

.leftSide ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.leftSide li a {
    display: block; 
    padding: 8px 16px;
    text-decoration: none;
}
.leftSide li a::first-letter {
    text-transform: capitalize;
  }
.rightSide{
    width: 80%;
    float: left;
}
.contentRow{
    width: 94%;
    height: 125px;
    margin: 3%;
    float: none;
}
.footerContainer{
    width: 94%;
    height: 125px;
    margin: 3%;
    float: none;
}
#sideNav, #close-side-nav, #close-main-nav, .mediaMenuText, .moveToRight, #home-btn{
    display: none;
}
.left-nav-pill {
    float:left;
}
.right-nav-pill{
    float:right;
}

span.top-nav-titles a{
    font-size: 30px;
}
.news-details > .article-headline > #title{
    display:inline-block;
}

#userSpecificNewsByCountry{
    color:#00b8e6;
}
@media screen and (max-width: 900px) { 
    .navContainer{
        margin-bottom: 40px;
    }
    .leftSide{
        float: left;

    }
    .rightSide{ 
        float: left;
    }
}

@media screen and (max-width: 700px) { 
    #sideNav, .moveToRight, #home-btn {
        display: block;
    }
    .ddContentNav{
        display: none;
    }
    .top-nav-titles a{
        display: none;
    }
    .leftSide {
        min-height: 0;
    }
    .rightSide {
        width:100%;
        margin: 0%;
    }
    .ddTextNav, .ddTextSideNav, .mediaMenuText {
        position: relative;
        display: inline-block;
    }

    .ddContentNav {
        display: none;
        position: fixed;
        background-color: #ffe6cc;
        width: 160px;
        box-shadow: 5px 10px 10px 0px rgba(0,0,0,0.2);
        padding: 15px;
        z-index: 10;
    }

    .ddTextNav:hover .ddContentNav {
        display: block;
    }

    .ddContentSideNav {
        display: none;
        position: fixed;
        background-color: #ffe6cc;
        width: 30%;
        height: 0;
        box-shadow: 5px 10px 10px 0px rgba(0,0,0,0.2);
        padding: 15px;
        z-index: 20;
    }

    .ddTextSideNav:hover .ddContentSideNav {
        display: block;
        height: auto;
    }
    .ddTextSideNav {
        cursor: pointer;
        top:30px;
        left:65%;
        position: fixed;
    }
    .ddTextNav {
        cursor: pointer;
        top: 30px;
        left: 50px;
        position: fixed;
    }
    .mediaMenuText, .moveToRight {
        color:rgb(0, 153, 255);
        font-size: 20px;
        text-align: center;
        width:70px;
        height: 25px;
        border: 3px solid rgb(0, 153, 255);
        border-radius: 10px;
        padding: 15px;
        background: #fff;
    }
    .leftSide{
        margin: 0;
    }
    
    .article-content-list-item{
        margin: 10px 0px;
        padding-right: 10px;
        width:95%;
    }
    #leftSide{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border:none;
    }
    .source-list, .news-list{
        padding:0;
        margin: 0;
    }
    .source-list-item{
        margin: 0;
        padding: 10px;
    }
    .navContainer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .navContainer li a {
        display: block; 
        padding: 8px 16px;
        text-decoration: none;
    }
    .navContainer .pull-right {
        clear:both;
    }
    
}



